body {
background-color: #D0BCAC;
}

h1 {
    color: #392113;
    background-color:#a79586;
    text-align:center;
    font-size: 50px;
    font-weight: 400;
    font-style: oblique;
}

#section1 {
    color: #5E432F;
    background-color: #D0BCAC;
}

#section2 {
    color: #392113;
    background-color: #9e846f;
}

#section3 {
    color: #392113;
}

img {
border: width 10px; 
border-style: solid;
border-color: #392113;
border-top: 5px solid black;
border-right: 5px solid black;
}

footer  {
    text-align:center;
    color: #392113;
    background-color: #a79586;
    text-align:center;
    font-size: 50px;
    font-style: oblique;
}